extends layout

block content
    .container-table(ng-app='MyFinanceAdd')
        div(ng-controller="Add")
            form(ng-submit='addNew()')
                    .row
                        .col-md-9
                            p.input-group
                                label Дата :
                                input.form-control(type='text', uib-datepicker-popup='', ng-model='date', is-open='popup.opened', datepicker-options='dateOptions', ng-required='true', close-text='Закрыть', current-text='Сегодня', clear-text='Очистить', required='')
                                span.input-group-btn(style='padding-top: 35px;')
                                    button.btn.btn-default(type='button', ng-click='open()')
                                        i.glyphicon.glyphicon-calendar
                        .col-md-9
                            label Сумма:
                            input.form-control(type='text', ng-model='price', required='')
                        .col-md-9
                            .btn-group(data-toggle='buttons')
                                label Тип операции
                                br
                                label
                                    input#option1(type='radio', name='options', ng-model='type', value='0', data-bind='checked: selectedOption')
                                    | Поступление
                                br
                                label
                                    input#option2(type='radio', name='options', ng-model='type', value='1', data-bind='checked: selectedOption')
                                    | Списание
                            br
                        .col-md-9
                            input.btn.btn-primary(type='submit', value='Добавить')

    script(src='/js/add.js')
    script(src='http://code.jquery.com/jquery-2.2.4.min.js', type='text/javascript')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js',
        integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa',
        crossorigin='anonymous')
