extends layout

block content
  .container-table(ng-app='MyFinance', ng-cloak='')
    div(ng-controller='Table')
      h2 Список финансовых операций
      table.table.table-striped(ts-wrapper='')
        thead
          tr
            th(ts-criteria='date | parseDate', ts-name='date', ts-default='') Дата
            th(ts-criteria='income | parseFloat', ts-name='income') Поступление
            th(ts-criteria='Outcome | parseInt', ts-name='outcome') Списание
            th(ts-criteria='Profit | parseInt', ts-name='profit') Прибыль
        tbody
          tr(ng-repeat='item in items track by item._id', ts-repeat='')
            td {{item.date | date:"dd.MM.yyyy"}}
            td {{item.income }}
            td {{item.outcome }}
            td {{item.profit}}
          tr(style="background: #e3f0f6;")
            td Итого
            td {{itog.income}}
            td {{itog.outcome}}
            td {{itog.profit}}
      hr
      canvas#line.chart.chart-line(style='width:60%; height:10%;' chart-data='data', chart-labels='labels',
        chart-series='series', chart-options='options',
        chart-dataset-override='datasetOverride', chart-click='onClick',<='', canvas = '')
  script(src='/js/angular-tablesort.js')
  script(src='/js/Chart.min.js')
  script(src='/js/angular-chart.min.js')
  script(src='/js/app.js')
  script(src='/js/add.js')
  script(src='http://code.jquery.com/jquery-2.2.4.min.js', type='text/javascript')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js',
    integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa',
    crossorigin='anonymous')
