doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/tablesort.css')
    link(rel='stylesheet', href='/css/style.css')
    style.
        .ng-cloak, [ng-cloak] {
          display: none;
        }
  body
      nav.navbar.navbar-default.navbar-fixed-top
          .container
              ul.nav.navbar-nav
                  li(class=path=='index' ? 'active':'')
                      a(href='/') Список операции
                  li(class=path=='add' ? 'active':'')
                      a(href='/add') Добавить операцию
      script(src='/js/angular.min.js')
      script(src='/js/ui.js')
      script(src='/js/angular-locale.js')
      block content
